<%= form_with(model: @blog, local: true,url: choose_new_or_edit) do |form| %>
<div class="blogs">
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= @blog.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="blog_title">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <br/>
  <div class="field">
    <%= form.label :投稿音声 %><br/>
    <%= audio_tag(@blog.audio.url) if @blog.audio.url %>
    <%= form.file_field :audio, id: :blog_audio %>
    <%= form.hidden_field :audio_cache %>
  </div>
  
  <br/>
  <%= form.submit %>
  <br/>
  </div>
<% end %>